header {
  height: 120px;
  background-color: #F2F4F4;
  border-bottom: 1px solid #E5E8E8;
}

.google {
  position: absolute;
  height: 50px;
  width: 140px;
  padding: 10px;
  top: 7px;
  left: 5px;
}

form {
  position: absolute;
  padding:10px;
  top:7px;
  left: 160px;
}

input {
  width: 1000px;
  height: 45px;
}
