header {
  height: 140px;
  background-color: #F2F4F4;
  border-bottom: 1px solid #AEB6BF;
  position: relative;
}

.google {
  position: absolute;
  height: 50px;
  width: 140px;
  padding: 10px;
  top: 7px;
  left: 5px;
}

form {
  position: absolute;
  padding:10px;
  top:7px;
  left: 160px;
}

input {
  width: 1000px;
  height: 45px;
}

.mic {
  position: absolute;
  color: #5DADE2;
  font-size: 31px !important;
  top: 18px;
  right: 75px;
}

.search {
  position: absolute;
  color: #5DADE2;
  font-size: 31px !important;
  top: 18px;
  right: 25px;
}

.apps {
  position: absolute;
  color: #566573;
  font-size: 30px !important;
  top: 28px;
  right: 125px;
}

.notification {
  position: absolute;
  color: #566573;
  font-size: 25px !important;

  top: 30px;
  right: 75px;
}

.account {
  position: absolute;
  font-size: 35px !important;
  top: 25px;
  right: 20px;
  color: #E74C3C;
}

li {
    display: inline;
    padding: 20px;

}

ul {
  position: absolute;
  bottom: 20px;
  left: 180px;
}

a {
  color: #818181;

}

a:link  {
  text-decoration: none;

}

a:hover {
    color: #4C4C4C;
}

#results {
  position: absolute;
  top: 160px;
  left: 200px;
  font-size: 12px;
  color: #686868;
}

#embed {
  position: absolute;
  border-style: solid;
  border-color: #AEB6BF;
  border-width: thin;
  width: 700px;
  height: 350px;
  left: 170px;
  top: 200px;
}
